.info-quantity-events {
  position: absolute;
  right: 0;
  top: 5px;
}

:host ::ng-deep .p-ripple {
  overflow: visible;
}

:host ::ng-deep .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled).p-badge:hover {
  background: #3F51B5;
}

