<div class="card">
    <p-menubar [model]="tieredItems">
        <ng-template pTemplate="end">
            <p-splitButton [model]="items"
                           class="mr-3"
                           label="Создать задачу"
                           styleClass="p-button-info"
            ></p-splitButton>
        </ng-template>
    </p-menubar>
    <div class="grid mt-5" >
        <div class="col-12 md:col-4">
            <div class="card">
                <div class="m-2 flex">
                    <button
                            class="p-button-outlined p-button-info mr-2"
                            icon="pi pi-sort-alpha-down"
                            (click)="sort('text')"
                            pButton
                            type="button"
                    ></button>
                    <button
                            class="p-button-outlined p-button-info mr-2"
                            icon="pi pi-sort-numeric-down"
                            (click)="sort('date')"
                            pButton
                            type="button"
                    ></button>
                    <span class="pi p-input-icon-right p-fluid"
                          style="width: 100%">
                        <input
                          (input)="filterTasks(search)"
                          [(ngModel)]="search"
                               placeholder="Название события"
                               style="height: 37px"
                               type="text">
                        <i class="pi pi-search"></i>
                    </span>
                </div>
                <div *ngIf="loading" class="border-round border-1 surface-border p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
                <div *ngIf="!loading">
                <div  *ngFor="let taskShort of tasksShort"
                     class="hover:shadow-1 transition-delay-50 transition-colors transition-duration-300 hover:bg-gray-100 active:bg-gray-200 hover:text-gray-900
    border-round cursor-pointer my-3 mx-2 p-4 border-1 border-gray-500">
                    <div class="flex justify-content-between">
                        <p>{{taskShort.title}}</p>
                        <p>{{taskShort.dateStart | date: 'dd.MM.YYYY HH:MM' }}</p>
                    </div>
                    <p>{{taskShort.author}}</p>
                </div>
                </div>
            </div>
        </div>
        <app-task class="col-12 md:col-8"></app-task>
    </div>
</div>
