<p-toast key="overlay"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img class="mb-5 w-30rem flex-shrink-0"
             alt="Лого"
             src="assets/images/logo.svg">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8"
                 style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Добро пожаловать</div>
                    <span class="text-600 font-medium">Для продолжения введите учетные данные</span>
                </div>
                <div>
                    <label for="email1"
                           class="block text-900 text-xl font-medium mb-2">Электронная почта</label>
                    <input id="email1"
                           type="text"
                           placeholder="Введите свой адрес электронной почты"
                           pInputText
                           [(ngModel)]="username"
                           class="w-full md:w-30rem mb-5"
                           style="padding:1rem">

                    <label for="password1"
                           class="block text-900 font-medium text-xl mb-2">Пароль</label>
                    <p-password id="password1"
                                [(ngModel)]="password"
                                placeholder="Введите пароль"
                                [toggleMask]="false"
                                [feedback]="false"
                                styleClass="mb-5"
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                           (click)="display = true"
                           style="color: var(--primary-color)">Восстановить пароль</a>
                    </div>
                    <button pButton
                            pRipple
                            label="Вход"
                            [loading]="loaderService.isLoading.value"
                            class="w-full p-3 text-xl"
                            (click)="onSubmit()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="display"
          [breakpoints]="{'960px': '75vw'}"
          [modal]="true"
          [style]="{width: '30vw'}"
          header="Способ восстановления пароля"
          showEffect="fade">
    <p class="line-height-3 m-0">
        Это не наши проблемы.
    </p>
    <ng-template pTemplate="footer">
        <button (click)="display=false"
                class="p-button-outlined"
                icon="pi pi-check"
                label="ОК"
                pButton></button>
    </ng-template>
</p-dialog>
