<div class="card mb-5 ">
    <div class="row text-center">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale | uppercase }}</h3>
        <div class="flex justify-content-between mb-5">
            <div class="flex flex-column align-items-start">
                <div class="text-left mb-3 shadow-1">
                    <p-autoComplete (completeMethod)="filterRooms($event)"
                                    [(ngModel)]="selectRoom"
                                    [dropdown]="true"
                                    [suggestions]="filteredRooms"
                                    *ngIf="searchInEvent"
                                    [size]="40"
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="40"
                                    (onSelect)="filteredEventsForRooms(selectRoom)"
                                    [disabled]="(loaderService.isLoading | async) || false"
                                    field="name"
                                    placeholder="Выбрать помещение"
                    ></p-autoComplete>
                    <p-autoComplete (completeMethod)="filterRooms($event)"
                                    (onSelect)="getEventFroRoom(selectRoom)"
                                    *ngIf="!searchInEvent"
                                    [(ngModel)]="selectRoom"
                                    [dropdown]="true"
                                    [size]="40"
                                    [suggestions]="filteredRooms"
                                    [virtualScrollItemSize]="40"
                                    [virtualScroll]="true"
                                    [disabled]="(loaderService.isLoading | async) || false"
                                    field="name"
                                    placeholder="Выбрать помещение"
                    ></p-autoComplete>
                </div>
                <span class="p-buttonset mb-3 shadow-1">
				<button (viewDateChange)="closeOpenMonthViewDay()"
                        [(viewDate)]="viewDate"
                        [view]="view"
                        [loading]="(loaderService.isLoading | async) || false"
                        icon="pi pi-chevron-left"
                        label="Назад"
                        mwlCalendarPreviousView
                        pButton
                        pRipple
                ></button>
				<button [(viewDate)]="viewDate"
                        class="p-button-outlined h-full"
                        mwlCalendarToday
                        pButton
                        pRipple
                >{{nowDate | calendarDate:(view + 'ViewTitle'):locale | uppercase }}</button>
            <button (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    [loading]="(loaderService.isLoading | async) || false"
                    icon="pi pi-chevron-right"
                    iconPos="right"
                    label="Вперед"
                    mwlCalendarNextView
                    pButton
                    pRipple
            ></button>
    </span>
                <div class="shadow-1">
                    <button (click)="getAllEvent()"
                            [loading]="(loaderService.isLoading | async) || false"

                            pButton
                    >Все события
                    </button>
                </div>
            </div>
            <div class="text-right">
                <div class="text-left mb-3 shadow-1">
                    <!--                    <p-autoComplete (completeMethod)="filterUsers($event)"-->
                    <!--                                    (onSelect)="getEventFroUserInList(selectUser)"-->
                    <!--                                    [dropdown]="true"-->
                    <!--                                    [(ngModel)]="selectUser"-->
                    <!--                                    *ngIf="searchInEvent"-->
                    <!--                                    [virtualScroll]="true"-->
                    <!--                                    [virtualScrollItemSize]="40"-->
                    <!--                                    [size]="40"-->
                    <!--                                    [suggestions]="filteredUsers"-->
                    <!--                                    field="name"-->
                    <!--                                    placeholder="Выбрать сотрудника"-->
                    <!--                    ></p-autoComplete>-->
                    <p-autoComplete (completeMethod)="filterUsers($event)"
                                    (onSelect)="getEventFroUser(selectUser)"
                                    [(ngModel)]="selectUser"
                                    [dropdown]="true"
                                    [size]="40"
                                    [suggestions]="filteredUsers"
                                    [virtualScrollItemSize]="40"
                                    [virtualScroll]="true"
                                    [disabled]="(loaderService.isLoading | async) || false"
                                    field="name"
                                    placeholder="Выбрать сотрудника"
                    ></p-autoComplete>
                </div>
                <span class="p-buttonset flex mb-3 shadow-1">
				    <button (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month"
                            [loading]="(loaderService.isLoading | async) || false"
                            class="w-10"
                            label="Месяц"
                            pButton
                            pRipple
                    ></button>
                    <button (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week"
                            [loading]="(loaderService.isLoading | async) || false"
                            class="w-10"
                            label="Неделя"
                            pButton
                            pRipple
                    ></button>
                    <button (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day"
                            [loading]="(loaderService.isLoading | async) || false"
                            class="w-10"
                            label="День"
                            pButton
                            pRipple
                    ></button>
                </span>
                <button (click)="addNewEvent()"
                        [loading]="(loaderService.isLoading | async) || false"
                        icon="pi pi-plus"
                        label="Добавить событие"
                        class="shadow-1"
                        pButton
                ></button>
            </div>
        </div>
        <p-divider></p-divider>
    </div>
    <div [ngSwitch]="view"
         class="mt-5 text-uppercase">
        <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)"
                                 *ngSwitchCase="CalendarView.Month"
                                 [activeDayIsOpen]="activeDayIsOpen"
                                 [events]="events"
                                 [locale]="locale"
                                 [refresh]="refresh"
                                 [viewDate]="viewDate"
                                 [weekStartsOn]="weekStartsOn"
                                 pStyleClass="test"
        ></mwl-calendar-month-view>
        <mwl-calendar-week-view (eventClicked)="handleEvent('Clicked', $event.event)"
                                [dayStartHour]="7"
                                [dayEndHour]="20"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                *ngSwitchCase="CalendarView.Week"
                                [events]="events"
                                [locale]="locale"
                                [refresh]="refresh"
                                [viewDate]="viewDate"
        ></mwl-calendar-week-view>
        <mwl-calendar-day-view (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)"
                               *ngSwitchCase="CalendarView.Day"
                               [dayStartHour]="7"
                               [dayEndHour]="20"
                               [events]="events"
                               [locale]="locale"
                               [refresh]="refresh"
                               [viewDate]="viewDate"
        ></mwl-calendar-day-view>
    </div>
</div>
<p-dialog *ngIf="endLoading"
          [(visible)]="display"
          [header]="eventDetail.title ? eventDetail.title : 'Название не указано'"
          [breakpoints]="{ '960px': '75vw' }"
          [maximizeIcon]="'0px'"
          [modal]="true"
          [style]="{ width: '90vw', height: '90vh', 'text-align': 'start', overflow: 'none'}"
          showEffect="fade"
>
    <app-event-details [eventDetail]="eventDetail"
                       [isChange]="isChange"
                       [rooms]="rooms"
                       [users]="users"></app-event-details>
    <ng-template pTemplate="footer">
        <button (click)="isChange = !isChange"
                *ngIf="!isChange"
                [loading]="(loaderService.isLoading | async) || false"
                label="Изменить"
                pButton
        >
        </button>
        <p-toast></p-toast>
        <button (click)="deleteEvent($event)"
                class="p-button-outlined p-button-danger"
                icon="pi pi-trash"
                pButton
                *ngIf="!isChange"
                pTooltip="Удалить событие"
                [loading]="(loaderService.isLoading | async) || false"

        ></button>
        <p-confirmPopup key="deleteEvent"></p-confirmPopup>
        <button
                (click)="display = false"
                class="p-button-outlined p-button-danger"
                icon="pi pi-times"
                label="Отменить изменения"
                *ngIf="!isChange"
                [loading]="(loaderService.isLoading | async) || false"
                pButton
        ></button>
        <button
                (click)="display = false"
                *ngIf="isChange"
                [loading]="(loaderService.isLoading | async) || false"
                class="p-button-outlined p-button-danger"
                icon="pi pi-times"
                label="Закрыть"
                pButton
        ></button>
        <button
                (click)="copyThisEvent()"
                class="p-button-outlined"
                icon="pi pi-copy"
                label="Копировать"
                [loading]="(loaderService.isLoading | async) || false"
                pButton
        ></button>
        <button
                (click)="createEvent('createEvent')"
                class="p-button-outlined p-button-success"
                icon="pi pi-check"
                *ngIf="isChange"
                label="Создать мероприятие"
                [loading]="(loaderService.isLoading | async) || false"
                pButton
        ></button>
        <button
                (click)="createEvent('editEvent')"
                *ngIf="!isChange"
                [loading]="(loaderService.isLoading | async) || false"
                class="p-button-outlined p-button-success"
                icon="pi pi-check"
                label="Сохранить изменения"
                pButton
        ></button>
    </ng-template>

</p-dialog>
