<div class="card mb-5">
    <div class="row text-center">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
        <div class="flex justify-content-between mb-5">
            <div class="text-left">
                <div class="text-left mb-3">
                    <p-autoComplete (completeMethod)="filterRooms($event)"
                                    [(ngModel)]="selectRoom"
                                    [dropdown]="true"
                                    [suggestions]="filteredRooms"
                                    [size]="40"
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="40"
                                    (onSelect)="filteredEventsForRooms(selectRoom)"
                                    field="name"
                                    placeholder="Выбрать помещение"
                    ></p-autoComplete>
                </div>
                <span class="p-buttonset">
				<button (viewDateChange)="closeOpenMonthViewDay()"
                        [(viewDate)]="viewDate"
                        [view]="view"
                        icon="pi pi-chevron-left"
                        label="Назад"
                        mwlCalendarPreviousView
                        pButton
                        pRipple
                ></button>
				<button [(viewDate)]="viewDate"
                        class="p-button-outlined"
                        mwlCalendarToday
                        pButton
                        pRipple
                >{{nowDate | calendarDate:(view + 'ViewTitle'):locale }}</button>
            <button (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    icon="pi pi-chevron-right"
                    iconPos="right"
                    label="Вперед"
                    mwlCalendarNextView
                    pButton
                    pRipple
            ></button>
    </span>
            </div>
            <div>
                <div class="text-left mb-3 ">
                    <p-autoComplete (completeMethod)="filterUsers($event)"
                                    (onSelect)="getEventFroUser(selectUser)"
                                    [dropdown]="true"
                                    [(ngModel)]="selectUser"
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="40"
                                    [size]="40"
                                    [suggestions]="filteredUsers"
                                    field="name"
                                    placeholder="Выбрать сотрудника"
                    ></p-autoComplete>
                </div>
                <span class="p-buttonset flex mb-3">
				    <button (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month"
                            class="w-10"
                            label="Месяц"
                            pButton
                            pRipple
                    ></button>
                    <button (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week"
                            class="w-10"
                            label="Неделя"
                            pButton
                            pRipple
                    ></button>
                    <button (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day"
                            class="w-10"
                            label="День"
                            pButton
                            pRipple
                    ></button>
                </span>
                <div class=" mb-5">
                    <p-splitButton [model]="options"
                                   icon="pi pi-plus"
                                   label="Добавить событие"
                                   styleClass="p-button-success w-full"
                    ></p-splitButton>
                </div>
            </div>
        </div>
        <p-divider></p-divider>
    </div>
    <div [ngSwitch]="view"
         class="mt-5">
        <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)"
                                 *ngSwitchCase="CalendarView.Month"
                                 [activeDayIsOpen]="activeDayIsOpen"
                                 [events]="events"
                                 [locale]="locale"
                                 [refresh]="refresh"
                                 [viewDate]="viewDate"
                                 [weekStartsOn]="weekStartsOn"
        ></mwl-calendar-month-view>
        <mwl-calendar-week-view (eventClicked)="handleEvent('Clicked', $event.event)"
                                [dayEndHour]="20"
                                [dayStartHour]="7"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                *ngSwitchCase="CalendarView.Week"
                                [events]="events"
                                [locale]="locale"
                                [refresh]="refresh"
                                [viewDate]="viewDate"
        ></mwl-calendar-week-view>
        <mwl-calendar-day-view (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)"
                               *ngSwitchCase="CalendarView.Day"
                               [dayEndHour]="20"
                               [dayStartHour]="7"
                               [events]="events"
                               [locale]="locale"
                               [refresh]="refresh"
                               [viewDate]="viewDate"
        ></mwl-calendar-day-view>
    </div>
</div>
<p-dialog *ngIf="endLoading"
          [(visible)]="display"
          [breakpoints]="{ '960px': '75vw' }"
          [modal]="true"
          [style]="{ width: '50vw', height: '80vh', 'text-align': 'start' }"
          header="Карточка события"
          showEffect="fade"
          showEffect="fade"
>
    <app-event-details [eventDetail]="eventDetail"></app-event-details>
</p-dialog>
