<div class="layout-topbar">

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton
            class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <a class="layout-topbar-logo"
       routerLink="">
        <img src="assets/demo/images/primeng-logo.png"
             alt="logo">
        <span>СЭДО<span style="color: var(--red-800);">2.0</span></span>
    </a>
    <div #topbarmenu
         class="layout-topbar-menu center"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Календарь</span>
        </button>
        <button (click)="user.toggle($event)"
                class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Профиль</span>
        </button>
        <p-menu #user
                [model]="userFunctions"
                [popup]="true"></p-menu>
        <button class="p-link layout-topbar-button"
                (click)="configClick()">
            <i class="pi pi-cog"></i>
            <span>Настройки</span>
        </button>
    </div>
    <p-progressBar mode="indeterminate"
                   styleClass="position: absolut"
                   *ngIf="loaderService.isLoading | async"
                   class="z-5 loading"></p-progressBar>
</div>
