<div *ngIf="isLoading"
     class="w-full h-full">
    <p-progressSpinner animationDuration="1.7s"
                       class="flex w-full h-full align-items-center opacity-50"
                       fill="var(--surface-ground)"
                       strokeWidth="8"
                       styleClass="w-4rem h-4rem">
    </p-progressSpinner>
</div>
<div *ngIf="!isLoading">
    <div class="mb-5">
        <div class="flex justify-content-between align-items-center">
            <button (click)="selectTime('previous')"
                    [disabled]='weatherDay === 0'
                    icon="pi pi-chevron-left"
                    pButton>
            </button>
            <span (click)="weatherDay = 0"
                  class="text-4xl cursor-pointer">
                {{currentDate | date: 'dd.MM HH:mm'}}
            </span>
            <button (click)="selectTime('next')"
                    [disabled]='weatherDay === weather.length - 1'
                    icon="pi pi-chevron-right"
                    pButton>
            </button>
        </div>
    </div>
    <div *ngFor="let weather of weather; let i = index">
        <div *ngIf="weatherDay === i">
            <div class="flex justify-content-between">
                <span class="text-4xl">Белгород</span>
                <span class="text-4xl">{{weather.dt_txt | weatherDate}}</span>
            </div>
            <div class="flex justify-content-between align-items-center mb-5">
                <p class="text-4xl">{{weather.main.temp}} °C</p>
                <div class="flex flex-column align-items-end ">
                    <img [alt]="weather.weather[0].description"
                         src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}.png">
                    <p class="text-2xl">{{weather.weather[0].description}}</p>
                </div>
            </div>
            <p class="text-2xl">Ощущается как: {{weather.main.feels_like}}°C</p>
            <p class="text-2xl">Влажность: {{weather.main.humidity}}%</p>
            <p class="text-2xl">Давление: {{weather.main.pressure}} мм рт. ст</p>
            <p class="text-2xl">Ветер: {{toTextualDescription(this.weather.wind.deg)}}</p>
            <p class="text-2xl">Скорость: {{weather.wind.speed}} м/с</p>
        </div>
    </div>
</div>
